.contentBody {
  display: flex;
  height: 1128px;
}
.page1 {
  background-image: url(./bcg-main.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 60px 55px;
}
.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  column-gap: 35px;
}
.item {
  background-color: yellowgreen;
}